.feed{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.card{
    display: flex;
    margin: 20px 0;
    border-radius: 20px;
    padding: 20px 5px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
/* .card .profile-img{
    width: 10%;
}
.profile-desc{
    width: 50%;
}
.semi-circle{
    width: 20%;
} */
.feed .container{
    width: 50%;
}
.profile-img div{
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid black;
}
.feed button{
    background-color: #FF748D;
    color: white;
    border: none;
    padding: 5px 30px;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card p{
    color: #B7B7B7;
    padding: 0 20px;
    font-size: 15px;
}
.heading{
    font-size: 20px;
    padding: 10px 20px;
    margin: 0;
    color: #707070;
    font-weight: 500;
}
.semi-circle{
    margin: auto;
}
.semi-circle div{
    width: 25px;
    height: 50px;
    background-color: #FF748D;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    /* border: 10px solid gray; */
    border-bottom: 0;
}

@media screen and (max-width:992px){
    .feed .container{
        width: 70%;
    }
}
@media screen and (max-width:768px){
    .feed .container{
        width: 70%;
    }
    .card p{
        font-size: 13px;
    }
    .heading{
        font-size: 18px;
    }
    .profile-img div {
        height: 30px;
        width: 30px;
        margin: 5px;
        margin-left: 10px;
    }
}
@media screen and (max-width:600px){
    .feed .container{
        width: 80%;
    }
}
@media screen and (max-width:350px){
    .feed .container{
        width: 90%;
    }
    .card p{
        font-size: 10px;
    }
    .heading{
        font-size: 15px;
    }
}